


.parallax {
  position: relative;
  background-image: url("../image/oktoberfest-food-sausage-beer-and-bretzel-2022-02-08-22-39-27-utc.jpg");  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
 
}
.parallax2 {
  
  background-image: url("../image/greek-village-salad-horiatiki-with-feta-cheese-ol-2021-08-28-02-42-04-utc.jpg");  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.nav-container {
  width: 50%;
  position: absolute;
  z-index: 1;
  margin-top: 10%;
 
}

.custom-container {
  display: flex;
  justify-content: center;
  
  
}

.custom-carrusell-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-container-video {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.custom-container-video h2, .card-title {
  text-align: center;
}


.custom-img-div {
  object-fit: cover;
  height: 10px;
  
}
#icon {
  
  width:100%;
  
}


@media only screen and (max-device-width: 1366px) {
  .parallax-container {
    background-attachment: scroll;
  }
}